.App {
  height: 100vh;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style:  none;
}

.flex, .flex-c {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}
.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.a-end {
  align-items: flex-end;
}

.flex-w {
  flex-wrap: wrap;
}

.italic {
  font-style: italic;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
