.player {
  width: 100%;
  position: fixed;
  background-color: firebrick;
  bottom: 0;
  left: 0;
  height: 4rem;
}

audio {
  width: 450px;
}

.ok {
  padding: 5px;
}

.ok > div {
  cursor: pointer;
  font-weight: bold;
}
