.player {
  width: 100%;
  position: fixed;
  background-color: firebrick;
  bottom: 0;
  left: 0;
  height: 4rem;
}

audio {
  width: 450px;
}

.ok {
  padding: 5px;
}

.ok > div {
  cursor: pointer;
  font-weight: bold;
}

.clear-curs {
  cursor: help !important;
}

.random {
  color: black !important;
}

.cur {
  cursor: pointer;
}

.ran-con {
  color: #f2f2f24f;
  font-size: 16px;
  margin-right: 8px;
}
