input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.do-some {
  background-color: brown;
  padding-bottom: 3px;
}

.do-some .track {
  color: black;
}

.do-some .a-track:hover {
  background: transparent;
  color: black;
}

.do-some a {
  text-decoration: none;
}


.do-some .ar.no-wrap-eli {
  display: flex;
}

.result-container, .p-n-btn, .result-u {
  width: 100%;
}

.p-n-btn {
  margin-top: 8px;
}

.offseter {
  width: 3rem;
}

.p-n-btn > .fas {
  margin: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.input-c-wrap > input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  background: none;
}

::placeholder { /* Most modern browsers support this now. */
  color: black;
}

.type-item {
  cursor: pointer;
  opacity: .6;
}

.type-item.active {
  opacity: 1;
  font-weight: bold;
}

.type-item + .type-item {
  margin-left: 6px;
}

h2 {
  margin: 0;
  padding: 0;
}

.curr-title {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.link {
  color: black;
  text-decoration: none;
}

.result-text {
  font-size: 14px;
  color: black;
  white-space: nowrap;
  max-width: 80%;
  text-overflow:ellipsis;
  overflow:hidden;
}

.arar {
  max-width: 20%;
}

.under {
  text-decoration: underline;
}
