body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.index-wrap {
  margin-bottom: 4rem;
  width: 70%;
  overflow: hidden;
}

.main-group {
  overflow: hidden;
}

.main-outter {
  border-left: 1px solid brown;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 12px;
  overflow-y: scroll;
  overflow-x: hidden; 
  width: 50%;
}