.login {
  justify-content: flex-start;
  width: 12rem;
  height: 8rem;
  background-color: brown;
  border: 1px solid black;
  position: relative;
  bottom: 6rem;
  border-bottom: 0;      
}

.login-input {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.login-input.username {
  margin-bottom: .5rem;
}