.login-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  height: 4rem;
  justify-content: space-between;
  width: 20rem;
}

.login {
  justify-content: space-around;
  width: 12rem;
  height: 4rem;
  background-color: rgb(141, 12, 12);
  border: 1px solid black;
  position: relative;
  bottom: 0;
}

.profile {
  justify-content: space-around;
}

.name {
  margin: 0;
  font-style: italic;
  font-weight: 600;
}

.login-input {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.input-group {
  justify-content: space-around;
}

.login-input {
  width: 8rem;
}

.heart {
  font-size: 1rem;
  color: #f2f2f24f;
  cursor: pointer;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10%;
}