.a-track {
  font-size: 14px;
}

.a-track:hover {
  background-color: #f2f2f2;
  color: #999;
}

.track {
  cursor: pointer;
  color: blue;
  /* border-bottom: 1px solid transparent; */
  max-width: 60%;
}

.no-wrap-eli {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ar {
  max-width: 30%;
}

.duration {
  max-width: 10%;
}

.movingAngle {
  position: fixed;
}

/* .track:hover {
  border-bottom: 1px solid blue;
} */